{%  extends 'NewsApp/base.html' %}

{% block body %}
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-sm">
                <h2 class="display-4 text-center text-light">Home Page</h2>
            </div>
        </div>
        <div class="row align-content-center">
            <div class="col-sm">
                {% if user.is_authenticated %}
                    <p class="badge badge-primary text-center">Welcome {{ user.username }}</p>
                {% else %}
                    <p class="badge badge-primary text-center">Welcome to News App</p>
                    <p class="badge badge-info text-center">Register for full news catalog.</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="card text-white border-light bg-dark mb-3">
                    <div class="card-header">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-1">
                                    <p class="text-capitalize badge badge-info" id="section"></p>
                                </div>
                                <div class="col-1">
                                    <p class="text-capitalize badge badge-secondary" id="subsection"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-title font-weight-bold" id="title"></p>
                        <p class="card-text" id="abstract"></p>
                        <div class="embed-responsive embed-responsive-4by3">
                            <div class="card-img-bottom embed-responsive-item" id="pictures"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $.ajax({
            url: 'https://api.nytimes.com/svc/topstories/v2/home.json?api-key=iM1aUggLuTYLPqRCmEkxq3vq1ZDeIJso',
            datatype: 'json',
            success: function(data){
                const image = new Image();
                console.log(data);
                const result = data.results[0];
                const section = result.section;
                const subsection = result.subsection;
                const title = result.title;
                const abstract = result.abstract;
                const pictures = result.multimedia[0];
                const pictures_url = pictures.url;
                const url = result.url;
                $('#section').text(section);
                $('#subsection').text(subsection);
                $('#title').text(title);
                $('#abstract').text(abstract);
                $('#url').attr("href", url);
                image.src = pictures_url;
                $('#pictures').append(image);

            }
        });

    </script>

{% endblock %}