{%  extends 'NewsApp_view/base.html' %}

{% block body %}
 <div class="container justify-content-center">
     <div class="col-sm">
         <h2 class="display-4 text-center text-light">Home Page</h2>


      <form action="{% url 'index'%}" method="post">
                {% csrf_token %}
         <div class="input-group mb-3">
             <input type="text" class="form-control" placeholder="Enter a keyword" name="search_term">
             <div class="input-group-append">
                 <button class="btn btn-primary" type="submit">SEARCH</button>
             </div>
         </div>
      </form>


        <div class="row align-content-center">
            <div class="col-sm">
                <p class="badge badge-primary text-center">Welcome {{ user.username }}</p>
            </div>
        </div>


    {% for article in articles %}
         <div class="row">
            <div class="col-sm">
                <div class="card text-white border-light bg-dark mb-3">
                    <div class="card-header">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-1">
                                    <p class="text-capitalize badge badge-info" >{{ article.source.name }}</p>
                                </div>
                                <br>
                                <br>
                                <div class="col-1">
                                    <p class="text-capitalize badge badge-secondary" >{{ article.author }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-title font-weight-bold" >{{ article.title }}</p>
                        <p class="card-text" >{{ article.description }}</p>
                        <div class="embed-responsive embed-responsive-4by3">
                            <div class="card-img-bottom embed-responsive-item" id="pictures">
                                <img src="{{ article.urlToImage }}" class="card-img" alt="article-image">
                            </div>
                        </div>
                        <a href="{{ article.url }}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
         {% endfor %}



</div>
    </div>

{% endblock %}
